.MuiBox-root{
margin-top:150px;
margin-left: 140px;
margin-bottom:50px;
}

.home-container{
    background-color: #ECE5C7;
    /* Replace with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Keeps the background image fixed while scrolling */
    /* Add margin around the content */
    padding: 10px;
    /* Add padding around the content */
    min-height: 100vh;
    /* Ensures the container covers the entire viewport height */
}