.upload-notes-main {
  min-height: 100vh;
  background-color: #2B2B2B;
  background-repeat: no-repeat;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  font-family: "Poppins";
  color: #F9E8D9;
  padding-top: 20px;
}

.form-upload-notes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px dashed black;
  padding:30px 50px;
  align-self: center;
  border:5px solid #171010;
  border-radius: 15px;
  background-color: #423F3E;
}

.upload-notes-title {
  margin-top: 5%;
  margin-bottom: 4%;
  font-family: "Poppins";
  font-size: 50px;
  text-transform: capitalize;
}

.fileip-form-upload{
    display: flex;
    align-items: center;
    gap:5px;
}


#nameInput:focus {
    outline: none;
}
#nameInput{
    height: 20px;
    width:200px;
    padding: 5px;
}
.file-upload-btn{
    background-color:#1AD379;
    border-radius: 20px;
    padding-block: 5px;
    border:none;
    color: white;
    font-size: 14px;
    font-family: "Poppins";
}
.file-upload-btn:hover{
    cursor: pointer;
}

@media (max-width: 768px){

    .upload-notes-main{
        padding-top: 20px;
    }
    .form-upload-notes{

        padding:50px 20px;
        gap:20px
    }

    .fileip-form-upload{
        gap:10px;
    }
}